doctype html
html
	head
		title MOPCON 2017
		link(rel="stylesheet", href="stylesheets/all.css?#{new Date().getTime()}")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="UTF-8")
	body.contenter
		h1 呀比
			.col-xs-12
		
		script(src="javascripts/all.js?#{new Date().getTime()}")